img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chatodd img {
    float: left;
}

.chateven img {
    float: right;
}

.textleft,
.textright {
    height: 85px;
    margin: 20px 80px;
    padding: 5px;
    border-radius: 10px;
}

.textleft {
    background-color: lightblue;
}

.textright {
    background-color: lightpink;
}

.triangleleft {
    border-color: transparent lightpink transparent transparent;
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height: 0px;
    float: left;
    margin-top: 10px;
}

.triangleright {
    border-color: transparent transparent transparent lightblue;
    border-style: solid;
    border-width: 10px;
    width: 0px;
    height: 0px;
    float: right;
    margin-top: 10px;
}